footer{
    background: rgb(134, 133, 133);
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer-block{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hr_footer{
    opacity: 0.7;
    margin-bottom: 70px;
    border-width: 1px;
    border-style: inset;

}

.footer-links{
    display: flex;
    justify-content: space-around;
    padding-right: 80px;
}
.footer-link{
    display: flex;
    flex-direction: column;
}
.footer-link p{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 35px;
    text-align: center;
}
.footer-link a , span.phone{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-link a:hover{
    opacity: 0.6;
}
hr.hr-bottom{
    margin-top: 60px;
    margin-bottom: 0px;
    border-width: 1px;
    border-style: inset;
}
.footer-info-block{
    display: flex;
    justify-content: space-between;
}
.info-footer{
    margin-top: 30px;
    font-size: 15px;
}
.info-card-footer{
    margin-top: 10px;
    font-size: 55px;
}

@media (max-width:765px) {
    .footer-block{
        flex-direction: column;
    }
    
    .footer-search{
        display: flex;
        justify-content: center;
    }
    .footer-links{
       flex-direction: column;
       align-items: center;
       flex-wrap: wrap;
       margin-left: 10%;
       padding-right: 10%;
    }
    .footer-link{
       margin-top: 10px;
    }
    .footer-info-block{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}