*,*::before,::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
height: 100%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.conteiner{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(126, 126, 126, 0.808);
  z-index: 2;
  
}

.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
 
}
.header_list{
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    z-index: 3;
}
.header_list li{
    list-style: none;
    margin: 0px 15px 0px 35px;
}
.header_logo img{
    max-width: 100%;
    display: block; 
}
.header_logo{
    flex: 0 0 200px;
    position: relative;
    z-index: 3;
}

.header_burger{
    display: none;
}
.fas{
 font-size: 17px;   
}

.header_link{
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    background-color: #E57222;
    transition: 0.4s;
}
.header_link:hover{
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}


.top_slide{
    padding: 150px 0px 0px 0px ;
    background-image: url(img/promo1.jpg);
    padding-bottom: 260px;
}
.top_slide div{
    margin-top: 8px;
}
.top_slide h2{
    background-color: #E57222;
    color: #fff;
    display: inline;
    font-size: 60px;
    padding: 0 13px;
    border-radius: 6px;
}
.top_container{
    width: 85%;
    margin: 0 auto;
    padding-left: 150px;
}
.top_slide :nth-child(2){
    margin-bottom: 15px;
}
.top_slide p{
    background-color: #575655;
    color: #fff;
    border-radius: 6px;
    padding: 0px 4px;
    display: inline;
    font-size: 25px;
}
.specialize_container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.specialize_container h3{
    font-size: 40px;
    margin-top: 25px;

}
.specialize_container p{
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.card{
  max-width: 250px;
}

.first_p{
    font-size: 20px;
    color: #fff;
    padding: 10px;
}
.bottom_card{
    background-color: #575655;
    position: relative;
    top: -30px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}

.specialize_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px ;
    padding-top: 20px;
    justify-content: space-evenly;
    justify-items: center;
}
.top_card{
    background-color: #E57222;  
    overflow: hidden;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    max-width: 250px;

  
}
.top_card .icon_foto{
    transform: translateY(270px);
    transition: 0.6s;
  
}
.top_card:hover .icon_foto{
    transform: translateY(0px);
  
}
.icon_card{
    position: absolute;
    margin: 35px;
    margin-left: 65px;
    
}

.products{
    padding: 60px 0;
}
.prod h2{
    margin-bottom: 55px;
    font-size: 40px;
    text-align: center;
}
.prod_card{
    max-width: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    border-radius: 10px;
    transition: 0.8s;

}
.prod_card img{
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;

}
.prod_card:hover{
    box-shadow: 0 0 25px rgba(209, 112, 0, 0.904);
    transition: 0.8s;
}
.card_conteiner{
    padding: 15px;

}
.card_conteiner h2{
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
}
.card_conteiner p{
    text-align: center;
}
.card_info{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}
.card_info .money{
    font-size: 19px;
    padding: 10px;
    border-radius: 10px;
    background-color: #E57222;
    transition: 0.2s;
}
.money:hover{
    color: #fff;
    transition: 0.2s;
    cursor:pointer
}

.products_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px ;
    padding-top: 20px;
    justify-content: center;
}


.services_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px ;
    padding-top: 20px;
    justify-content: center;
}
.services_card{
    text-align: center;
    position: relative;
}
.top_serv_card{
    position: relative;
    left: 28%;
    border: 5px solid #E57222;
    border-radius: 100%;
    margin: 20px;
    padding: 20px;
    max-width: 120px
    
}
.line{
    width: 150px;
    height: 3px;
    background: #E57222;
    position: relative;
    left: 43%;
    margin-top: 5px;
    margin-bottom: 5px;
   
}
.bottom_serv_card{
    position: relative;
  
}
.main_services h1{
    font-size: 40px;
    text-align: center;
}
.bottom_serv_card h4{
    font-size: 23px;
    padding-bottom: 10px;
}
.bottom_serv_card p{
    padding-bottom: 15px;
}


.serv_p{
    text-align: center;
    color: #575655;
}



/*.wraper_card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    width: 350px;
    height: 190px;
    margin: 20px;
    background: rgb(183, 241, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.card:hover{
    height: 450px;
    
    
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    background: rgb(197, 243, 255);;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .imgBx{
    width: 250px;
    height: 250px;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;    
    transform: translateY(150px);
}
.card:hover .content .details{
    transform: translateY(0px);
}
.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(24, 23, 23);
    line-height: 1.2em;

}
.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}
.card .content .details .data h3{
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}
.card .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}
.card .content .details .actionBtn{
    display: flex;
    justify-content: center;

}
.card .content .details .actionBtn button{
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background-color: rgb(44, 144, 238);
    color: #fff;
    cursor: pointer;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    padding-top: 60px;
}*/


@media (max-width:1400px) {
    .products_cards{
        grid-template-columns: repeat(3, 1fr); 
    }

}
@media (max-width:1600px) {
    .top_container{
        padding-left: 15px;
    }
    
}

@media (max-width:1300px){
    .specialize_cards{
        
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            gap: 0px;
        }
    
    .top_container{
        padding-left: 0px;
    }
    .top_slide{
        padding: 150px 0px 0px 0px ;
        background-image: url(img/promo2.jpg);
        padding-bottom: 260px;
        max-width: 1300px;
    }
    .top_slide h2{
        font-size: 30px;
    
    }
    .top_slide p{
        font-size: 15px;
    }

}
@media (max-width:600px) {
    .top_slide{
     
        background-image: url(img/promo3.jpg);
       
    }
}
@media (max-width:700px) {
    .specialize_cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
}

@media (max-width:1130px){
    .products_cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        padding-top: 20px;
        justify-items: center;
    }
    .services_cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .top_serv_card{
        left: 43%;
    }

}
    

@media (max-width:900px){
    .header_body{
       height: 50px; 
    }
    .header_logo{
        flex: 0 0 120px;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        
    }
    .header_burger span{
        position: absolute;
        background-color: #E57222;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        top: 8px;
        transition: all 0.4s;
    }

    .header_burger::before, 
    .header_burger::after{
      content: '';
      background-color: #E57222;
      position: absolute;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      left: 0px;
      transition: all 0.5s;
    
    
    }
    .header_burger::before{
        top:0;
    }
    .header_burger::after{
        bottom: 0;
    }

    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: rgba(105, 105, 105, 0.87);;
        padding: 70px 10px 0px 20px;
        transition: 0.6s;
    }

    .header_menu.active{
        top: 0;
        transition: 0.6s;
        z-index: 1;

    }

    .header_list{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .header_list li{
        margin: 0px 0px 30px 0px;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 8px;
        transition: all 0.5s;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 8px;
        transition: all 0.5s;
    }
    .header_burger.active span{
        transform: scale(0);
        transition: all 0.5s;
    }
    .content{
        padding: 70px 0px 0px 0px;
    }
    .top_serv_card{
        left: 41%;
    }

   
} 
@media (max-width:540px) {
        .top_serv_card{
            left: 30%;
        }
        .line{
            left: 37%;
        }
    }
@media (max-width:390px ) {
        .top_serv_card{
            left: 30%;
        }
        .line{
            left: 30%;
        }
    }

